<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>@Page.Title - stackRankR.NET</title>
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Custom.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <div class="topHeader"></div>
    <header>
      <div class="content-wrapper">
        <div class="float-left">
          <p class="site-title"><a href="~/">stackRankR.NET</a></p>
        </div>
        <div class="float-right">
          <section id="login">
            @if (WebSecurity.IsAuthenticated) {
              <text>
                Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
                <form id="logoutForm" action="~/Account/Logout" method="post">
                  @AntiForgery.GetHtml()
                  <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                </form>
              </text>
            } else {
              <ul>
                <li><a href="~/Account/Register">Register</a></li>
                <li><a href="~/Account/Login">Log in</a></li>
              </ul>
            }
          </section>
          <nav>
            <ul id="menu">
              <li><a href="~/Teams">Teams</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div id="body">
      @RenderSection("featured", required: false)
      <section class="content-wrapper main-content clear-fix">
        @RenderBody()
      </section>
    </div>
      <footer>
        <div class="content-wrapper">
          <div class="float-left">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Web Page</p>
          </div>
        </div>
      </footer>
  @RenderSection("Scripts", required: false)
  </body>
</html>