@{
  WebSecurity.RequireAuthenticatedUser();
  Layout = "~/_SiteLayout.cshtml";
  Page.Title = "Your Teams";
  Page.PageId = "Team";

  var db = Database.Open("stackRankR");
  if (IsPost) {
    db.Execute("INSERT INTO Team (Name, OwnerId, Display) VALUES (@0, @1, @2)", Request["newTeamName"], WebSecurity.CurrentUserId, true);
    var teamId = db.GetLastInsertId();
    //Share with yourself
    db.Execute("INSERT INTO TeamAccess (UserId, TeamId) VALUES (@0, @1)", WebSecurity.CurrentUserId, teamId);
    //Create the initial Rankings
    var numOfRankings = 3;
    for (int i = 1; i <= numOfRankings; i++) {
      db.Execute("INSERT INTO Ranking (Name, TeamId) VALUES (@0, @1)", i, teamId);
    }
    Response.Redirect("~/ViewTeam/" + teamId);
  }

  var teamQuery = db.Query("SELECT Name, Id, Display FROM Team WHERE OwnerId = @0", WebSecurity.CurrentUserId);
  var sharedTeamQuery = db.Query("SELECT TeamId FROM TeamAccess WHERE UserId = @0", WebSecurity.CurrentUserId);
}

<script src="~/Scripts/TeamListViewModel.js"></script>

@section Scripts {
  <script>
    $(function () {
      $('#newTeamButton').click(function () {
        $("#dialog").dialog({
          modal: true,
          draggable: false,
          resizable: false,
          buttons: {
            "Create": function () {
              if ($('#newTeamName').val() === '') {
                $('.error').show();
              } else {
                document.forms['newTeam'].submit();
                $(this).dialog('close');
              }
            },
            "Cancel": function () {
              $(this).dialog('close');
            }
          },
          open: function () {
            $(this).parent().appendTo($('#newTeam'));
            $('#newTeamName').select();
          }
        });
      });

      $('#newTeamName').keydown(function () {
        $('.error').hide();
      });

      $('.shareButton').click(function (e) {
        e.preventDefault();
        var teamId = $(this).attr('data-teamId');
        var runShareUpdate = function () {
          $('#errMsg').html('');
          var username = $('#usernameInput').val();
          if (username === '') {
            $('.error').show();
          } else {
            $.post('/endpoints/shareteam', { TeamId: teamId, Username: username }, function () {
              $('#errMsg').html('Added ' + username + '.');
              $('#usernameInput').val('');
              $('#usernameInput').focus();
            }).error(function () {
              $('#errMsg').html('Username ' + username + ' doesn\'t exist or already has access!');
              $('#usernameInput').val('');
              $('#usernameInput').focus();
            });
          }
        }
        $("#shareTeamDialog").dialog({
          modal: true,
          draggable: false,
          resizable: false,
          buttons: {
            "Share": function () {
              runShareUpdate();
            },
            "Close": function () {
              $(this).dialog('close');
            }
          },
          open: function () {
            $('#usernameShare').select();
            $('#errMsg').html('');
            $('#usernameInput').keydown(function (e) {
              if (e.keyCode === 13) {
                runShareUpdate();
              }
            });
          }
        });
      });

      $('.modifyButton').click(function (e) {
        e.preventDefault();
        var modifyButtonDom = $(this);
        var teamId = modifyButtonDom.attr('data-teamId');
        var teamName = modifyButtonDom.attr('data-teamName');
        var executeModifyUpdate = function (dialogRef) {
          var editTeamName = $('#editTeamName').val();
          if (editTeamName === '') {
            $('.error').show();
          } else {
            $.post('/endpoints/updateteam', { TeamId: teamId, NewTeamName: editTeamName }, function (data) {
              modifyButtonDom.siblings('.teamName').html(editTeamName);
              modifyButtonDom.attr('data-teamName', editTeamName);
            });
            dialogRef.dialog('close');
          }
        }
        $("#editTeamDialog").dialog({
          modal: true,
          draggable: false,
          resizable: false,
          buttons: {
            "Update": function () {
              executeModifyUpdate($(this));
            },
            "Cancel": function () {
              $(this).dialog('close');
            }
          },
          open: function () {
            var thisDialog = $(this);
            $('#editTeamName').val(modifyButtonDom.attr('data-teamName'));
            $('#editTeamName').select();
            $('#editTeamName').keydown(function (e) {
              if (e.keyCode === 13) {
                executeModifyUpdate(thisDialog);
              }
            });
            $('#deleteTeam').click(function () {
              if ($(this).html() === 'Sure?') {
                $.post('/endpoints/deleteteam', { TeamId: teamId }, function (data) {
                  modifyButtonDom.parents('.team').fadeOut(50, function () {
                    var undoButton = '<li class="team deletedTeam" id="deletedTeamContainer' + teamId + '"><a class="undo" id="undo' + teamId + '" href="javascript:return false" data-teamId="' + teamId + '"><span>Deleted ' + teamName + '.</span><span class="undoButton">Click to Undo</span></a></li>';
                    modifyButtonDom.parents('.team').before(undoButton);
                    $('#undo' + teamId).click(function () {
                      $.post('/endpoints/undeleteteam', { TeamId: teamId }, function () {
                        $('#deletedTeamContainer' + teamId).remove();
                        modifyButtonDom.parents('.team').fadeIn();
                      });
                    });
                  });
                  thisDialog.dialog('close');
                });
              } else {
                $(this).html('Sure?');
              }
            });
          },
          close: function () {
            $('#deleteTeam').html('Delete');
            $('#deleteTeam').unbind('click');
            $('#editTeamName').unbind('keydown');
          }
        });
      });
    });
  </script>
}

<div class="testContainer">
  <ul data-bind="foreach: teams">
    <li>
      <span data-bind="text: Id"></span>
      <span data-bind="text: Name"></span>
      <a href="#shareModal" data-bind="click: $root.sharePrep" role="button" class="btn" data-toggle="modal">Share</a>
    </li>
  </ul>
</div>

<a href="#newTeamModal" data-bind="click: $root.newTeamPrep" role="button" class="btn" data-toggle="modal">New Team</a>

<div id="shareModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Share</h3>
  </div>
  <div class="modal-body">
    <label for="usernameInput">Enter a username to share this team with:</label>
    <input id="usernameInput" type="text" class="dialogInput"/>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="shareButton" data-bind="click: $root.share">Share</button>
  </div>
</div>

<div id="newTeamModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>New Team</h3>
  </div>
  <div class="modal-body">
    <label for="newTeamInput">Enter a name for your new team:</label>
    <input id="newTeamInput" type="text" class="dialogInput"/>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="shareButton" data-bind="click: $root.newTeam">Create</button>
  </div>
</div>

<div class="contentContainer">
  <img alt="avatar" src="@Gravatar.GetUrl(WebSecurity.CurrentUserName, 120)" class="avatar">
  @if (teamQuery.Count() == 0 && sharedTeamQuery.Count() == 0) {
    <p>You have no teams!</p>
    <div class="medSpacer"></div>
  } else {
    <ul class="teamList">
      @foreach (var team in teamQuery) {
        if (team.Display == true) {
          <li class="team">
            <a href="~/ViewTeam/@team.Id" class="teamName">
              <span class="teamName">@team.Name</span>
              <span class="shareButton" data-teamId="@team.Id"></span>
              <span class="modifyButton" data-teamId="@team.Id" data-teamName="@team.Name"></span>
            </a>
          </li>
        }
      }
      @foreach (var teamId in sharedTeamQuery) {
        var sharedTeam = db.QuerySingle("SELECT * FROM Team WHERE Id=@0", teamId.TeamId);
        if (sharedTeam.Display == true && sharedTeam.OwnerId != WebSecurity.CurrentUserId) {
          <li class="team">
            <a href="~/ViewTeam/@sharedTeam.Id" class="teamName">
              <span class="teamName">@sharedTeam.Name</span>
              <span class="modifyButton" data-teamId="@sharedTeam.Id" data-teamName="@sharedTeam.Name"></span>
            </a>
          </li>
        }
      }
    </ul>
  }

  <form method="post" id="newTeam">
    <a href="#" class="btn btn-primary" id="newTeamButton">New Team</a>
    <div id="dialog" title="New Team">
      <p>Enter a name for your new team:</p>
      <input type="text" id="newTeamName" name="newTeamName" class="dialogInput"/>
      <span class="error">*</span>
    </div>
  </form>
</div>

<div id="editTeamDialog" class="dialogContainer" title="Edit Team">
  <p>Enter the new name for this team:</p>
  <input id="editTeamName" type="text" class="dialogInput"/><span class="error">*</span>
  <p>Or click below to delete the team:</p>
  <div class="medSpacer"></div>
  <a id="deleteTeam" href="javascript:return false;" class="linkButton deleteButton">Delete Team</a>
  <div class="largeSpacer"></div>
</div>

<div id="shareTeamDialog" class="dialogContainer" title="Share Team">
  <p>Enter a username to share this team with:</p>
  <input id="usernameInput" type="text" class="dialogInput"/><span class="error">*</span>
  <div id="errMsg"></div>
  <div class="largeSpacer"></div>
</div>